
.background{
    background-color: #FFF5DC;
    height: 75vh;
    width: 92vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}



.chatroom-zone {
    position: absolute;
    top: 553.2px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 472px;
    width: 430px;
}

.chatroom_bg_color{
    height: 472px;
    overflow: hidden;
}

.chatroom_title_color{
    position: absolute;
    left: 60.6px;
    top: 54.9px;
}


.chatroom_name_color{
    position: absolute;
    left: 116.1px;
    top: 238.9px;
}

.chatroom_receive_bg1_color{
    position: absolute;
    left: 108.6px;
    top: 266.5px;
}

.chatroom_receive_bg2_color{
    position: absolute;
    left: 117px;
    top: 315.4px;
}

.chatroom_receive_unread_text_color{
    position: absolute;
    left: 235.6px;
    top: 295.8px;
}

.chatroom_send_bg1_color{
    position: absolute;
    left: 260px;
    top: 129px;
}

.chatroom_send_bg2_color{
    position: absolute;
    left: 183px;
    top: 174px;
}

.chatroom_send_unread_text_color{
    position: absolute;
    left: 172px;
    top: 190px;
}

.chatroom_input_bg_color{
    position: absolute;
    left: 28.55px;
    top: 416.3px;
}

.chatroom_set_profile_color{
    position: absolute;
    left: 53px;
    top: 239px;
}

.chatroom_setting_zone{
    position: absolute;
    top: 553.2px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 472px;
    width: 430px;
}

.chatroom_bg_color_set{
    position: absolute;
    left: 350px;
    top: 365px;
}

.chatroom_title_color_set{
    position: absolute;
    left: 203px;
    top: 20px;
}

.chatroom_name_color_set{
    position: absolute;
    left: 145px;
    top: 218.9px;
}

.chatroom_receive_bg1_color_set{
    position: absolute;
    left: 210px;
    top: 255.9px;

}

.chatroom_receive_bg2_color_set{
    position: absolute;
    left: 288px;
    top: 298.9px;
}


.chatroom_send_bg1_color_set{
    position: absolute;
    left: 240px;
    top: 115px;
}

.chatroom_send_bg2_color_set{
    position: absolute;
    left: 162px;
    top: 157px;
}

.chatroom_input_bg_color_set{
    position: absolute;
    left: 30px;
    top: 395px;
}

