.image-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Add some gap between the grid items */
  }
  
  .image-box {
    width: 55px;
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure images fit within the box */
  }
  
  .upload-box {
    text-align: center;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  