.info-text-0{
    margin-bottom: 12px;
    color: #FDBD74;
    display: flex;
    justify-content: center;
    font-size: 43px;
}

.info{
    margin-top: 10px;
    margin-bottom: 50px;
    color: #FDBD74;
    display: flex;
    justify-content: center;
   
}

.info-text {

    font-size: 28px;
  
  }

.theme-type {
    display: flex;
    justify-content: center;
    
}


.basic-theme {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic-theme-label{
    text-align: center;
    color: #ffffff;
    background-color: #FFBB6D;
    border-radius: 45vh;
    width: 250px;
    font-size: 22px;
    padding: 7px 0px 7px 0px;
    margin: 0px 30px 0px 0px;

}

.character-theme {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .character-theme-label{
      text-align: center;
      color: #ffffff;
      background-color: #FFBB6D;
      border-radius: 45vh;
      width: 250px;
      font-size: 22px;
      padding: 7px 0px 7px 0px;
      margin: 0px 30px 0px 0px;

  
  }
