.background{
    background-color: #FFF5DC;
    height: 80vh;
    width: 92vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.drawer {
    z-index: 30;
    display: flex;
    flex-direction: column;
    left: 0px;
    height: 100vh;
    width: 240px;
    background-color: white;
    border-right: 1px solid #FFBB6D;
}




.password_bg_color {
    /* password_bg_color */

    position: absolute;
    width: 385px;
    height: 374px;
    left: calc(50% - 385px/2 - 0.5px);
    top: 318px;

    background: #FFFFFF;

}



.password_keypad_color{
    /* password_keypad_bg_color */

    position: absolute;
    width: 385px;
    height: 204px;
    left: calc(50% - 385px/2 - 0.5px);
    top: 669px;

    background: #FFECB4;
}

.password_text{

}


.password_title_color{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 450px;
    justify-content: center;
    z-index: 5;
}

.password_second_title_color{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 475px;
    justify-content: center;
    z-index: 5;


}

.password_keypad_font_color{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 253px;
    height: 90px;
    top: 750px;
}

.lock_icon_zone{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 253px;
    height: 100px;
    top: 530px;
}

.unlock_icon{
    position: absolute;
    left: 42px;
    top: 20px;
}

.lock_icon{
    position: absolute;
    left: 138px;
    top: 20px;
}


.password_setting_zone{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 318px;
    width: 385px;
    height: 100px;
    z-index: 6;
}

.password_bg_color_set{
    /* password_bg_color_set */
    position: absolute;
    left: 10px;
    top: 60px;
    z-index: 20;
}

.password_title_color_set {
    position: absolute;
    left: 230px;
    top: 130px;
    z-index: 20;
}

.password_keypad_bg_color_set {
    position: absolute;
    left: 330px;
    top: 550px;
    z-index: 20;
}


.password_font_color_set {
    position: absolute;
    left: 310px;
    top: 410px;
    z-index: 20;
}


.unlock_icon_set {
    position: absolute;
    left: 115px;
    top: 260px;
    z-index: 20;
}



.lock_icon_set {
    position: absolute;
    left: 225px;
    top: 260px;
    z-index: 20;
}




