.background{
    background-color: #FFF5DC;
    height: 80vh;
    width: 92vw;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    height: 100%;
    width: 240px;
    background-color: white;
    border-right: 1px solid #FFBB6D;
}




.password_bg_color {
    /* password_bg_color */

    position: absolute;
    width: 385px;
    height: 374px;
    left: calc(50% - 385px/2 - 0.5px);
    top: 318px;

    background: #FFFFFF;

}



.password_keypad_color{
    /* password_keypad_bg_color */

    position: absolute;
    width: 385px;
    height: 204px;
    left: calc(50% - 385px/2 - 0.5px);
    top: 669px;

    background: #FFECB4;
}


.password_title_color{
    justify-content: center;
    z-index: 20;
}

.password_second_title_color{
    justify-content: center;
    z-index: 20;


}

.password_bg_color_set{
    /* password_bg_color_set */

    position: absolute;
    width: 39px;
    height: 39px;
    left: 543px;
    top: 335px;
    z-index: 20;
}

.password_keypad_font_color{

    position: absolute;
    align-content: center;
    width: 253px;
    height: 90px;
    top: 722px;


}

.password_title_color_set {
    position: relative;
    z-index: 10;
}

.password_keypad_bg_color_set {
    position: relative;
    z-index: 10;
}


.password_font_color_set {
    position: relative;
    z-index: 10;
}


.unlock_icon_set {
    position: relative;
    z-index: 10;
}



.lock_icon_set {
    position: relative;
    z-index: 10;
}




