.wrap{

}
.background{

    background-color: #FFF5DC;
    height: 80vh;
    width: 92vw;
    margin: 0 auto;
    flex-direction: column;
}

.guide{
    align-items: center;
    display: flex;
    justify-content: center;

    text-align: center;
    width: 600px;
    height: 28px;
    color: #FDBD74;
    background-color: #FFFFFF;
    border-radius: 45vh;
    font-size: 20px;
    padding: 13px 0px 13px 0px;
    margin: 20px 0px 20px 0px;

}

.text-input{
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 50vh;
    height:10vh;
    color: #828282;
    background-color: #FFECB4;
    border-radius: 45vh;
}

.theme-version{
    align-items: center;
    display: flex;
    justify-content: center;
}

.theme-name-Korean{
    align-items: center;
    display: flex;
    justify-content: center;
}

.theme-name-English{
    align-items: center;
    display: flex;
    justify-content: center;
}