.fontTest {
    text-align: center;
    font-family: 'NotoSans';
  }

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FFF5DC;
}

.frame {
    position: relative;
    width: 336px;
    height: 336px;
    background-color: white;
}

.color-picker-box {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    align-items: start;
    justify-content: end;
    right: 0px;
    height: 100%;
    padding-top: 8px;
    background-color: white;
    border-bottom: 1px solid #FFBB6D;
}

.color-picker-icon {
    height: 38px;
    width: 38px;
    margin: 0px 8px 0px 8px;
}

.left-menubar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 86px;
    background-color: white;
    border-right: 1px solid #FFBB6D;
    z-index: 1;


}

.menu-icon {
    padding-top: 3px;
}

.left-drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 86px;
    height: 95.5vh;
    width: 240px;
    background-color: white;
    border-right: 1px solid #FFBB6D;
    padding-top: 38px;
}

.drawer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}