
.menu{
    display: flex;
    margin: 10px 17vw 10px 17vw;
}

.step1{
    flex-grow: 1;
    text-align: center;
    width: 100px;
    height: 25px;
    color: #ffffff;
    background-color: #FFBB6D;
    border-radius: 45vh; 

    font-size: 17px;
    padding: 13px 0px 13px 0px;
    margin: 0px 20px 0px 0px;

    
}

.step2{
    flex-grow: 3;
    text-align: left;
   
}
.first-row{
    text-align: center;
    width: 165px;
    height: 25px;
    color: #ffffff;
    background-color: #FFBB6D;
    border-radius: 45vh;

    font-size: 17px;
    padding: 13px 0px 13px 0px;
    margin: 0px 0px 8px 0px;

}

.step3{
    flex-grow: 1;
    text-align: center;
    width: 100px;
    height: 25px;
    color: #ffffff;
    background-color: #FFBB6D;
    border-radius: 45vh;

    font-size: 17px;
    padding: 13px 0px 13px 0px;
    margin: 0px 20px 0px 0px;
}


.first-row {
  

}




.second-row{
    display: flex;
    
}



.second-row > div{
    text-align: center;
    font-size: 17px;
    top: 0;
    left: 0;
    width: 80px;
    height: 25px;
    color: #828282;
    background-color: #FFECB4;
    border-radius: 45vh; /* Adjust this value to change the roundness */

    padding: 10px 3px 10px 3px;
    margin: 0px 5px 0px 5px;
}