body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*전체 css 파일에 적용시키기 위해 index.css에 폰트패밀리 삽입*/
@font-face {
  font-family: 'NotoSancs'; /* 사용할 폰트의 이름을 정의 */
  src: url('./fonts/NotoSansKR-Medium.ttf'); /* 폰트 파일의 위치 */
}

body {
  font-family: "NotoSancs";
}